@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/buttons";


$primary: #5265E1;
$danger: #FA5959;
$custom-blue: #252B46;
$custom-grey: #9194a1;

$custom-colors: (
  "primary":$primary,
  "danger":$danger
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$min-contrast-ratio: 3;

//Navbar custom
$navbar-light-toggler-icon-bg: url(../img/icon-hamburger.svg);
$navbar-light-color: $black;
$navbar-light-hover-color: $danger;
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0;


@import "../node_modules/bootstrap/scss/bootstrap";

@mixin border($style, $color, $borderWidth, $side) {
  @if $side ==all {
    border: $style $color $borderWidth;
  }

  @else {
    border-#{$side}: $style $color $borderWidth;
  }
}

.main {
  overflow-x: hidden;
}

.btn-primary {
  &:hover {
    background-color: $white;
    color: $primary;
    border-width: 2px;

  }
}

.btn-outline-primary {
  &:hover {
    background-color: $white;
    color: $gray-800;
    @include border(solid, $gray-600, 2px, all);
  }
}

.btn-danger {
  &:hover {
    color: $danger;
    background-color: $white;
    @include border(solid, $danger, $border-width, all);
  }
}

.navbar-toggler-icon {
  background-size: auto;
}

.menu-movil {
  background-color: $custom-blue;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 10;

  .nav-item {
    @include border(solid, $custom-grey, $border-width, top);
  }

  .nav-link {
    color: $white;

    &:hover {
      color: $danger;
    }
  }

  .navbar-toggler-icon {
    background-image: url(../img/icon-close.svg);
  }
}

.nav {
  .nav-item {
    @include border(solid, $gray-300, $border-width, bottom);
    justify-items: center;
  }

  .nav-link.active {
    @include border(solid, $danger, 2px, bottom);
  }

}
