@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/buttons";

$primary: #5265E1;
$danger: #FA5959;
$custom-blue: #252B46;
$custom-grey: #9194a1;

$custom-colors: (
  "primary":$primary,
  "danger":$danger
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$min-contrast-ratio: 3;

//Navbar custom
$navbar-light-toggler-icon-bg: url(../img/icon-hamburger.svg);
$navbar-light-color: $black;
$navbar-light-hover-color: $danger;
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0;

//Tabs custom
$nav-link-color: $custom-grey ;
$nav-link-hover-color: $danger;
$nav-pills-border-radius: none;
$nav-tabs-border-color: $custom-grey;
$nav-tabs-link-hover-border-color: $white;
$nav-tabs-link-active-border-color: $white $white $danger;

$nav-pills-link-active-color: $black;
$nav-pills-link-active-bg: $white;
$nav-tabs-link-active-border-color: $danger;

//// Accordion
$accordion-button-active-bg: $white;
$accordion-button-active-color: $danger;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $danger;
$accordion-icon-active-color: $danger;
$accordion-button-icon: url(../img/icon-arrow.svg);
$accordion-button-active-icon: url(../img/icon-arrow.svg);

// List group
$list-group-action-color: $white;
$list-group-hover-bg: none;
$list-group-action-hover-color: $danger;

//card
$card-border-width: 0;
$card-border-color: none;


@import "../node_modules/bootstrap/scss/bootstrap";

@mixin border($style, $color, $borderWidth, $side) {
  @if $side ==all {
    border: $style $color $borderWidth;
  }

  @else {
    border-#{$side}: $style $color $borderWidth;
  }
}

.main {
  overflow-x: hidden;
}

.btn-primary {
  &:hover {
    background-color: $white;
    color: $primary;
    border-width: 2px;

  }
}

.btn-outline-primary {
  &:hover {
    background-color: $white;
    color: $gray-800;
    @include border(solid, $gray-600, 2px, all);
  }
}

.btn-danger {
  &:hover {
    color: $danger;
    background-color: $white;
    @include border(solid, $danger, $border-width, all);
  }
}

.navbar-toggler-icon {
  background-size: auto;
}

.menu-movil {
  background-color: $custom-blue;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 10;

  .nav-item {
    @include border(solid, $custom-grey, $border-width, top);
  }

  .nav-link {
    color: $white;

    &:hover {
      color: $danger;
    }
  }

  .navbar-toggler-icon {
    background-image: url(../img/icon-close.svg);
  }
}

.nav {
  .nav-item {
    @include border(solid, $gray-300, $border-width, bottom);
    justify-items: center;
  }

  .nav-link.active {
    @include border(solid, $danger, 2px, bottom);
  }

}

.cards {
  min-height: 28rem;

  .card-footer {
    background-image: url(../img/bg-dots.svg);
    background-repeat: no-repeat;
    background-color: initial;
    background-size: contain;
    border: none;
  }
}

.footer {
  background-color: $custom-blue;

  .nav-link {
    color: $white;

    &:hover {
      color: $danger;
    }
  }
}

.section-img,
.tab-pane-img {
  position: relative;
}

@mixin background-blue() {
  content: '';
  position: absolute;
  background-color: $primary;
  width: 1000px;
  z-index: -1;
  height: 80%;
}

.tab-pane-img {
  &:after {
    @include background-blue();
    top: 30%;
    right: 20%;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}

.section-img {
  &:after {
    @include background-blue();
    bottom: 0;
    left: clamp(50px, 10vw, 150px);
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
}