@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #5265E1;
$danger: #FA5959;
$custom-blue: #252B46;
$custom-grey: #9194a1;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

$custom-colors: (
  "custom-color-blue": #252B46
);

$theme-colors: map-merge($theme-colors, $custom-colors);



.menu-movil {
  background-color: #252B46;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  width: 100%;
}

//Navbar custom
$navbar-light-toggler-icon-bg: url(../img/icon-hamburger.svg);
// $navbar-light-toggler-icon-bg: no-repeat url(../img/icon-hamburger.svg);
// $navbar-dark-toggler-icon-bg: none;
// $navbar-inverse-toggler-bg: url(../img/icon-hamburger.svg);

// $navbar-dark-toggler-icon-bg: none;
$navbar-light-color: #fff;
$navbar-light-hover-color: $danger;
$navbar-light-active-color: #14cf1b;

$navbar-light-toggler-border-color: none;
$navbar-light-brand-color: rgb(219, 201, 41);
$navbar-light-brand-hover-color: green;
$navbar-toggler-focus-width: 0;

//$active-bg-color: darken($custom-blue, 10%);
$btn-link-color:red;


.nav-link {
  &:hover {
    //background-color: $active-bg-color;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-collapse {
  //position: relative;
}

.navbar-nav {
  // position: absolute;
  //   width: 100%;
}

.nav-item {
  // border-top: 1px solid $custom-grey;
  // &:last-of-type {
  //   border-bottom: 1px solid $custom-grey;
  // }
}
.navbar-toggler-icon{
  background-size: auto;
}

.bg-icon {
  background-image: url(../img/icon-close.svg);
  background-size: auto;
}

@media (min-width: 992px) {
  .nav-link   {      
      color: $black;
  }
}